<o-app-layout>
  <!--
  <button mat-button (click)="dv.changeView('grid')">Vista grid</button>
  <button mat-button (click)="dv.changeView('table')">Vista tabla</button> -->

  <o-data-view #dv attr="dataView" [static-data]="config.staticData" keys="id"
    columns="id;name;sector;country;annualRevenue;rating" query-rows="8" [table-config]="config.tableCfg" [grid-config]="config.gridCfg">

    <ng-template oDataViewTableColumns>
      <o-table-column attr="annualRevenue" title="Annual Revenue" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
        currency-symbol-position="right"></o-table-column>
    </ng-template>


    <ng-template oDataViewGridItem let-item>
      <div class="card-bg">
        <div class="card-content" fxLayout="column" fxFlexFill fxLayoutGap="16px">
          <span fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="60%" class="grid-card-title">{{item.name}}</span>
          <span fxLayout="row" fxLayoutAlign="center start" fxFlex="10%" class="grid-card-text">{{item.sector | uppercase}}</span>
          <div fxLayout="row" fxLayoutAlign="space-between" fxFlex class="card-content-last-row">
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                <span class="grid-card-text">{{item.rating}}</span>
                <mat-icon>star</mat-icon>
              </div>
            </div>
            <span fxLayout="column" class="grid-card-text">{{item.annualRevenue | currency:'EUR'}}</span>
          </div>
        </div>
      </div>
    </ng-template>

  </o-data-view>
</o-app-layout>
