<o-app-layout>
  <!--
  <button mat-button (click)="dv.changeView('grid')">Vista grid</button>
  <button mat-button (click)="dv.changeView('table')">Vista tabla</button> -->

  <o-data-view #dv attr="dataView" service-type="packs" entity="packs" keys="id" columns="id;name;location;price;duration;score" query-rows="20"
    [table-config]="tableCfg" [grid-config]="gridCfg" quick-filter-placeholder="Search" refresh-button="no" toggle-on-toolbar="yes">

    <ng-template oDataViewTableColumns>
      <o-table-column attr="price" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
        currency-symbol-position="right"></o-table-column>
    </ng-template>


    <ng-template oDataViewGridItem let-item>
      <mat-card class="grid-card">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.location }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="center">Cost: {{item.price | currency}}</div>
        </mat-card-content>
      </mat-card>
    </ng-template>

  </o-data-view>
</o-app-layout>
